.home_content{
    background-image: url(../../img/home.svg);
    filter: drop-shadow(2px 4px 54px rgba(54, 54, 54, 0.212));
    background-size: 100%;
    background-position-x: 20em;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}
.home_content .container h2.title_home{
    font-family: var(--roboto);
}
/*Last Desktop*/
@media (min-width: 700px){
    .home_content{
        background-size: 70%;
        background-position-x: 20em;
        background-position-y: 94px;
        min-height: 80vh;
    }
    .home_content .container{
        padding: 10em 0;
    }
    .home_content .container h2.title_home{
        font-size: 3.6vw;
        width: 390px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .home_content{
        background-size: 60%;
        background-position-x: 36em;
        background-position-y: 94px;
        min-height: 88vh;
    }
    .home_content .container{
        padding: 125px 0;
    }
    .home_content .container h2.title_home{
        font-size: 3vw;
        width: 400px;
    }
}