.container{
    margin: 0 auto;
    width: 90%;
}
.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (min-width: 700px){
    .row{
        flex-direction: row;
    }
}