.menu_topo{
    background-color: transparent;
    width: 100%;
}
.container_menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    font-family: var(--roboto);
    width: 20%;
}
.responsive_menu{
    display: block;
}
.links{
    display: none;
}
.links li{
    padding: 7px 20px;
}
.links li:last-child{
    background: linear-gradient(#a4d932 0%, #4db71d 100%);
    border-radius: 3em;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.links li a{
    color: #333;
    font-family: var(--roboto);
    font-size: 2vw;
    font-weight: 600;
}
/*Last desktop*/
@media (min-width: 700px){
    .responsive_menu{
        display: none;
    }
    .links{
        display: block;
        min-width: 500px;
    }
    .links li{
        display: inline;
    }
    .links li a{
        font-size: 12px;
        font-weight: 500;
    }
}